# API Configuration
VITE_API_BASE_URL=http://localhost:8081/api

# Gaia AI API Configuration
VITE_GAIA_AI_API_URL_BASE_URL=http://localhost:8081/api/v1/chat/completion

# sso登录地址
VITE_SSO_LOGIN_URL=

# dify 地址
VITE_DIFY_BASE_URL=